@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <a asp-action="Upload" asp-controller="Paper" class="btn btn-primary">Upload a Research Paper</a>
    </div>

    <div class="text-center">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Paper">All Uploaded Papers</a>
    </div>
}